body{
  background-image: url("back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #222;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  margin-bottom: 5vh;
}

.searchTerm:focus{
  color: #222;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #222;
  background: #222;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.output{
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  word-wrap: break-word;
  overflow: scroll;
  padding: 2vh;
}
